<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>nykk btn</title>
    <script src="./src/bind_button.js"></script>
  </head>
  <body>

  <%_ sounds.forEach((sound) => { -%>
    <%_ const title = sound.split(".")[0]; -%>
    <%_ const buffer = new Buffer(title); -%>
    <%_ const id = buffer.toString("base64"); -%>
    <button class="btn" id="<%= id %>"><%= title %></button>
    <audio id="<%= `audio-${id}` %>" preload="metadata">
      <source src="<%= `sounds/${sound}` %>" type="audio/wav">
    </audio>
  <%_ }) -%>

  </body>
</html>
